/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1400px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {
  @include inuit-clearfix();
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;
  position: relative;
  padding: 0 $inuit-global-spacing-unit;
  z-index: 1;
}


/* Responsive
   ========================================================================== */


@include mq($from: md) {
    .o-wrapper {
        padding: 0 $inuit-global-spacing-unit*3;
    }
}