/* ==========================================================================
   #LIST-BARE
   ========================================================================== */

/**
 * Strip list-like appearance from lists by removing their bullets and any
 * indentation.
 *
 * Note: Declaring the item class might not be necessary everywhere,
 * but is for example in <dl> lists for the <dd> children.
 */

.o-list-bare {
  list-style: none;
  margin-left: 0;
}

  .o-list-bare__item {
    margin-left: 0;
  }

  .o-list-bare__item.u-opaque {
    opacity: .4;
    transition: opacity .3s ease-in-out;

    &.active,
    &:hover {
        opacity: 1;
    }

  }

/* Style Variants
========================================================================== */

.o-list-bare--nav {
    .o-list-bare__item::before {
        content: '';
        display: inline-block;
        width: 0px;
        height: 5px;
        border-radius: 4px;
        background: color(s-white);
        vertical-align: text-top;
        transition: all .3s ease-in-out;
    }

    .o-list-bare__item:hover,
    .o-list-bare__item.active {
        &:before {
            width: 20px;
            margin-right: 20px;
        }
    }
}
