/* ==========================================================================
   #LAYOUT
   ========================================================================== */

.o-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 $inuit-global-spacing-unit*-1;
    padding: 0;
    list-style: none;
}

    .o-layout__item {
        min-width: 0;
        flex: 0 0 100%;
        padding-left: $inuit-global-spacing-unit;
    }

    .o-layout--bordered {
        border: 2px solid color(s-white);
    }

    .o-layout__item--border-left {
        border-left: 2px solid color(s-white);
    }





/* Gutter size modifiers
   ========================================================================== */

.o-layout--flush {
    margin-left: 0;

    > .o-layout__item {
        padding-left: 0;
    }

}


.o-layout--tiny {
    margin-left: -$inuit-global-spacing-unit-tiny;

    > .o-layout__item {
        padding-left: $inuit-global-spacing-unit-tiny;
    }

}


.o-layout--small {
    margin-left: -$inuit-global-spacing-unit-small;

    > .o-layout__item {
        padding-left: $inuit-global-spacing-unit-small;
    }

}


.o-layout--large {
    margin-left: -$inuit-global-spacing-unit-large;

    > .o-layout__item {
        padding-left: $inuit-global-spacing-unit-large;
    }

}


.o-layout--huge {
    margin-left: -$inuit-global-spacing-unit-huge;

    > .o-layout__item {
        padding-left: $inuit-global-spacing-unit-huge;
    }

}





/* Vertical alignment modifiers
   ========================================================================== */

/**
 * Align all grid items to the middles of each other.
 */

.o-layout--middle {
    align-items: center;
}


/**
 * Align all grid items to the bottoms of each other.
 */

.o-layout--bottom {
    align-items: flex-end;
}


/**
 * Stretch grid items from top to bottom of largest item
 */

.o-layout--stretch {
    height: 100%;

    > .o-layout__item {
        display: flex;
        flex-direction: column;
    }

}





/* Fill order modifiers
   ========================================================================== */

/**
 * Fill up the layout system from the center.
 */

.o-layout--center {
    justify-content: center;
}


/**
 * Fill up the layout system from the right-hand side.
 */

.o-layout--right {
    justify-content: flex-end;
}


/**
 * Reverse the rendered order of the grid system.
 */

.o-layout--reverse {
    flex-direction: row-reverse;
}


/**
 * Fill up the layout system with even space in between items
 */

.o-layout--between {
    justify-content: space-between;
}


/**
 * Fill up the layout system with even space around items
 */

.o-layout--even {
    justify-content: space-evenly;
}





/* Auto-widths modifier
   ========================================================================== */

/**
 * Cause layout items to take up a non-explicit amount of width.
 */

.o-layout--auto {

    > .o-layout__item {
        flex: 0 0 auto;
    }

}




/* Responsive
   ========================================================================== */

@include mq($from: md) {
    .o-layout--reverse\@md {
        flex-direction: row-reverse;
    }

    .o-layout--middle\@md {
        align-items: center;
    }


    .o-layout--divider\@md {

        > .o-layout__item {
            &:last-of-type {
                padding: $inuit-global-spacing-unit 0 $inuit-global-spacing-unit $inuit-global-spacing-unit;
                border-left: 1px solid color(s-teal);
            }
        }
    }
}





