/* ==========================================================================
   #Carousel
   ========================================================================== */

.c-carousel {
    position: relative;
    white-space: nowrap;
    margin: 0 calc( 0px - $inuit-global-spacing-unit );
    max-width: $inuit-wrapper-width;
    padding: 0 $inuit-global-spacing-unit;
    overflow: hidden;
    margin-bottom: $inuit-global-spacing-unit-huge;
}
    
    .c-carousel__ctr {
        overflow-x: hidden;
        position: relative;
    }

    .c-carousel__inner {
        font-size: 0;
        transition: transform .3s ease-in-out;
    }

    .c-carousel__item {
        width: 100%;
        display: inline-block;
        padding: $inuit-global-spacing-unit-small;
    }

    .c-carousel__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 40px;
        color: color(s-white);
        z-index: 10;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s ease-in-out;

        &.hide {
            opacity: 0;
        }
    }

    .c-carousel__left {
        left: -0px;
    }

    .c-carousel__right {
        right: 0;
    }

/* Responsive
   ========================================================================== */

@include mq($from: lg) {
    .c-carousel {
        margin: 0 calc( 0px - $inuit-global-spacing-unit*3 );
        padding: 0 $inuit-global-spacing-unit*3;
        margin-bottom: $inuit-global-spacing-unit-huge;
    }

    .c-carousel__ctr {
    }

    .c-carousel__item {
        width: 33.333333%;
        padding: $inuit-global-spacing-unit-small;
    }

    .c-carousel--large {
        .c-carousel__item {
            width: 100%;
        }
    }
}