/* ==========================================================================
   #Circle
   ========================================================================== */


//For home page Judge circles

.c-circle {
    display: inline-block;
    height: 230px;
    width: 230px;
    background: rgba(color(s-yellow), .5);
    border-radius: 50%;
    position: relative;

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skew(-7deg);
        border-radius: 50%;
        height: 230px;
        width: 230px;
        background: rgba(color(s-yellow), .5);
        content: '';
    }

}