/* ==========================================================================
   #FOOTERS
   ========================================================================== */

.c-footer {
    padding: 100px 0 100px 0;
}

    .c-footer__contents {
        position: relative;
        z-index: 1;
    }

.c-footer__nav {
    padding: $inuit-global-spacing-unit-large 0 0 0;
    margin: $inuit-global-spacing-unit-large 0 0;
    font-size: 16px;
}

    .c-footer__item {
        display: block;
        padding-right: 50px;
        color: color(s-white);
        margin-bottom: $inuit-global-spacing-unit-small;

        &:last-child {
            padding-right: 0;
        }
    }





/* Responsive
   ========================================================================== */

@include mq($from: md) {
    .c-footer {
        padding: 100px 0 100px 0;
        text-align: center;
    }

    .c-footer__item {
        display: inline-block;
        margin-bottom: 0;
    }
}


