/* ==========================================================================
   #Video
   ========================================================================== */

.c-video {
    position: absolute;
    top: $inuit-global-spacing-unit;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 100%;
    font-size: 0;
    background: color(s-black);
    border-radius: 10px;
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &.fade {
        opacity: 0;
        pointer-events: none;
    }

    video {
        border-radius: 10px;
        width: 100%;
    }
}

.c-video__controls {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: color(s-white);
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 20px;
}

.c-video__seek {
    flex: 0 0 95%;
    background: linear-gradient(90deg, #7d7d7d, #676767);;
    height: 6px;
    border-radius: 4px; 
    cursor: pointer;
    position: relative;
}

.c-video__progress {
    background: linear-gradient(90deg, #3d9bfb, #50d5fd, #3d9bfb);;
    height: 100%;
    border-radius: 4px; 
    width: 0;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    transition: width .1s linear;
}


.c-video__volume {
    position: absolute;
    bottom: 0px;
    line-height: 1;
    right: 15px;
    font-size: 12px;
    cursor: pointer;
    color: color(s-white);

        .o-icon-mute { display: none; }
        .o-icon-volume { display: block; }


    &.mute {
        .o-icon-mute { display: block; }
        .o-icon-volume { display: none; }
    }
}

.c-video__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 12px;
    color: color(s-white);
}


/* Responsive
   ========================================================================== */

@include mq($from: md) {
   .c-video {
        top: 0;
        width: 80%;
        video {
            border-radius: 10px;
        }
   }

   .c-video__controls {
        font-size: 20px;
        bottom: 20px;
   }

    .c-video__volume {
        font-size: 20px;
        bottom: 10px;
        right: 20px;
    }

    .c-video__close {
        padding: 20px;
        font-size: 20px;
    }
}