/* ==========================================================================
   #Masthead
   ========================================================================== */

#main-masthead,
#masthead {
    padding-top: $inuit-global-spacing-unit-huge;
}

#main-masthead {
    padding-bottom: $inuit-global-spacing-unit-huge;
}



/* Responsive
   ========================================================================== */

@include mq($from: md) {
    #main-masthead {
        padding: 200px 0 250px 0;
    }

    #masthead {
        padding: 285px 0 200px 0;
    }
}