/* ==========================================================================
   #NAV
   ========================================================================== */


.c-nav {
    text-transform: uppercase;
    color: color(s-white);
    font-size: $inuit-global-spacing-unit*.5;
}

    .c-nav__item {
        color: color(s-white);
        a {
            color: color(s-white);
            position: relative;
            opacity: .7;
            transition: opacity .2s ease-in-out;

            &:after {
                opacity: 0;
                transition: opacity .2s ease-in-out;
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 4px;
                height: 4px;
                background: color(s-white);
                border-radius: 50%;
            }

            &.active,
            &:hover {
                opacity: 1;
                &:after {
                    opacity: 1;
                }
            }
        }

        &.c-nav__item--lower {
            text-transform: none;
        }
    }




/* Size variants
   ========================================================================== */
