/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
    transition: $global-transition;
    border-radius: $global-radius;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    border: 1px solid color(teal-alt);
}





/* Style variants
   ========================================================================== */

.c-btn--primary {
    background-color: color(js-green);

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [4] */
        color: color(s-navy);
    }

    &:hover,
    &:focus {
        background-color: darken(color(js-green), 5%);
    }

}

.c-btn--secondary {
    background-color: color(s-purple);
    border: none;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: color(light-teal);
    }

    &:hover,
    &:focus {
        background-color: darken(color(s-purple), 5%);
    }

}

.c-btn--tertiary {
    background-color: color(s-white);
    color: color(js-green);

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: color(s-black);
    }

    &:hover,
    &:focus {
        background-color: darken(color(s-white), 10%);
        color: color(js-green-alt-dark);
    }

}

.c-btn--tertiary-alt {
    color: color(s-black);
}

.c-btn--quaternary {
    background-color: color(s-yellow-alt);
    color: color(s-black);
    font-style: italic;
    border: none;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: color(s-black);
    }

    &:hover,
    &:focus {
        background-color: darken(color(s-yellow-alt), 5%);
        color: color(js-green-alt-dark);
    }

}

.c-btn--pill {
    border-radius: 9999px;
    padding: 24px 50px;

    &.c-btn--small {
        font-size: 12px;
        padding: 16px 24px;
        letter-spacing: initial;
    }

    &.c-btn--tiny {
        font-size: 10px;
        padding: 12px 20px;
        letter-spacing: initial;
    }
}

.c-btn--full {
    width: 100%;
}






/* Size variants
   ========================================================================== */

.c-btn--small {
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
    border: $btn-ghost-border-width solid currentColor;
    padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

    &,
    &:hover,
    &:active,
    &:focus {
        background: none;
    }

    &.c-btn--small {
        padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
    }

    &.c-btn--large {
        padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
    }

    &.c-btn--primary {
        color: color(js-green);

        &:hover,
        &:focus {
            color: color(js-green-alt-dark);
        }

    }

    &.c-btn--secondary {
        color: color(js-navy);

        &:hover,
        &:focus {
            color: color(js-navy-alt);
        }

    }

    &.c-btn--tertiary {
        color: color(s-white);

        &:hover,
        &:focus {
            color: color(s-white);
        }

    }

}
