/* ==========================================================================
   #HEADERS
   ========================================================================== */

.c-header {
    padding: $inuit-global-spacing-unit 0;
    margin: 0 0 $inuit-global-spacing-unit-large;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    z-index: 10;
}

    .c-header__mobile {
        z-index: 10;
        padding: 0 32px;
    }





/* Responsive
   ========================================================================== */


@include mq($from: md) {
    .c-header {
        padding: $inuit-global-spacing-unit*2.5 0 0 0;
    }
}


