/* ==========================================================================
   #FORM
   ========================================================================== */

form {
    color: color(s-white);
    font-size: 15px;

    a {
        color: color(js-green);
        text-decoration: underline;
    }
}

.field-error {
    color: color(js-red);

    .error-message {
        opacity: 1;
    }
}

.field,
.u-label {
    font-style: italic;
    font-weight: 700;

    &.u-align-center {
        justify-content: center;
    }
}

.field {
    margin-bottom: $inuit-global-spacing-unit;
}

.u-label {
    margin-bottom: $inuit-global-spacing-unit-tiny;
}

label:not(.check-label) {
    margin-bottom: $inuit-global-spacing-unit;
    font-size: 20px;
    display: block;
}

button[type="submit"] {
    font-size: 30px;
    transition: opacity .3s ease-in-out;

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.input-ctr {
    width: 100%;
    position: relative;
}

.error-message {
    position: absolute;
    color: color(js-red);
    font-size: 15px;
    font-weight: normal;
    opacity: 0;
    font-weight: 700;
    transition: opacity .3s ease-in-out;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;

    &.error-message--bottom {
        bottom: 10px;
        top: unset;
        transform: none;
        margin-bottom: 0;
    }
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    background: transparent;
    border: none;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding: $inuit-global-spacing-unit-small;
    background: rgba(0,0,0,.2);
    color: color(s-white);
    font-weight: 700;
    font-style: italic;
    width: 100%;
    transition: background .3s ease-inout;

    &:focus {
        outline: none;
        background: rgba(0,0,0,.4);
    }

    &::placeholder {
        color: color(light-blue);
        font-size: 15px;
        font-weight: 300;
    }
}

textarea {
    padding: 20px;
    font-size: 15px;
    transition: background .2s ease-in-out;
    background: rgba(0,0,0,.2);
    resize: none;
    width: 100%;

    &:focus {
        background: rgba(0,0,0,.2);
    }
}

.select-ctr {
    position: relative;
    &::after {
        font-style: normal;
        position: absolute;
        top: 50%;
        right: $inuit-global-spacing-unit-tiny*3;
        z-index: 2;
        display: block;
        content: "\e905";
        color: color(s-white);
        font-family: 'jiosaavn';
        transform: translateY(-50%);
        pointer-events: none;
    }

    &.c-select--alt {
        &::after {
            color: color(s-blue);
        }
    }
}

select {
    -webkit-appearance:none;
}

.c-select--alt {
    select {
        font-size: 14px;
        padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
        background: color(s-white);
        color: color(js-gray);
        border: 1px solid color(js-gray);
        border-radius: 9999px;
        font-weight: 100;
        font-style: italic;
    }
}

/* Checkbox
   ========================================================================== */


.field--option {
    display: block;

    input[type=checkbox],
    input[type=radio] {
        position: absolute;
        left: -9999px;
    }

    label {
        position: relative;
        cursor: pointer;
        font-size: 0;
        margin-right: $inuit-global-spacing-unit-small;

        &::before {
            display: inline-block;
            content: "";
            height: $inuit-global-spacing-unit*0.75;
            width: $inuit-global-spacing-unit*0.75;
            margin-right: $inuit-global-spacing-unit-tiny;
            background: transparent;
            border-radius: 4px;
            color: color(s-teal);
            font-family: 'jiosaavn';
            vertical-align: text-bottom;
            transition: $global-transition;
        }
    }

    input[type=checkbox] {
        & + label {
            &:before {
                border: 1px solid color(s-white);
            }
        }

        &:checked + label {
            &::before {
                content: "\e904";
                background: color(s-white);
                @include inuit-font-size(15px, $inuit-global-spacing-unit*0.75);
                text-align: center;
            }
        }
    }

}



/* Responsive
   ========================================================================== */

@include mq($from: md) {

    form {
        padding: 0 $inuit-global-spacing-unit-large;
    }

    .field {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .field--option {
        justify-content: flex-start;

        p {
            display: inline-block;
        }
    }

    label:not(.check-label) {
        width: 33%;
        flex: 0 0 33%;
        display: inline-block;
    }

    label:not(.check-label) {
        margin-bottom: 0;
    }

    .input-ctr {
        width: 66%;
    }

    .c-select--alt {
        select {
            font-size: 1em;
        }
    }
}
