/* ==========================================================================
   #PIN
   ========================================================================== */

.o-pin {
    height: 75px;
    width: 75px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

    .o-pin > :last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;
        font-size: 25px;
    }



/* Size variants
   ========================================================================== */

.o-pin--tiny {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
}


.o-pin--small {
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
}
