/* ==========================================================================
   #ONE OFFS
   ========================================================================== */


#legalese {
    font-size: 12px;
}

#vu-ctr {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    left: 0;
    bottom: 0;
}

#vu {
    width: 200vw;
    max-width: initial;
}

#home {

    #home-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 50%;
        max-width: 600px;

        > #vinyl {
            width: 100%;
        }
    }

    #dots-1 {
        position: absolute;
        top: 50%;
        left: -10%;
        z-index: 1;
        width: 60%;
        transform: translateY(-50%) rotate(180deg) scaleY(-1);
    }

    .dots-2 {
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 180px;
        z-index: 1;
        transform: rotate(180deg);
        overflow: hidden;
        width: 160px;

        >img {
            height: 100%;
            max-width: initial;
        }
    }

    #dots-3 {
        position: absolute;
        top: 250px;
        right: 0;
        width: 33%;
    }

    #guitar-1 {
        position: absolute;
        bottom: -80px;
        height: 200px;
        left: -150px;
        z-index: 1;
    }

    #guitar-2 {
        position: absolute;
        bottom: 50px;
        width: 20vw;
        right: 0;
    }

    #dots-4 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 100px;
        overflow: hidden;
    }

    #dots-5 {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 250px;
        z-index: 1;
    }

}


#competitions {

    #dots-1 {
        position: absolute;
        right: 0;
        top: 33%;
        width: 50vw;
        opacity: .5;
        display: none;
    }

    #dots-2 {
        position: absolute;
        left: 0;
        top: 75%;
        width: 40vw;
        opacity: .5;
        transform: rotate(180deg);
        display: none;
    }

    #vinyl-b-w {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 55%;
    }

    #vinyl-2 {
        position: absolute;
        top: 10%;
        right: 0;
        width: 50%;
    }

    #music-notes {
        position: absolute;
        top: 5%;
        right: 0;
        width: 60%;
    }
}

#participate {
    #vinyl {
        position: absolute;
        top: 200px;
        right: 0;
        width: 20%;
        opacity: .5;
    }
}


/* Responsive
   ========================================================================== */


@include mq($from: md) {

    #vu {width: 100vw}

    #home {

        #dots-5 { display:  block; }


        #guitar-2 {
            width: 185px;
        }

    }


    #competitions {
        #music-notes {
            top: 10%;
            width: 35%;
        }

        #vinyl-b-w {
            width: 25%;
        }

        #vinyl-2 {
            width: 40%;
        }

        #dots-1,
        #dots-2 {
            display: block;
        }
    }


}
