/* ==========================================================================
   #LOGOS
   ========================================================================== */

.c-logo {
    display: inline-block;
    width: 67px;
    height: 35px;
    overflow: hidden;

    & > svg { fill: color(js-navy); }
}





/* Responsive
   ========================================================================== */





