/* ==========================================================================
   #TOASTS
   ========================================================================== */

.c-toast {
    position: fixed;
    top: $inuit-global-spacing-unit*3.5;
    right: $inuit-global-spacing-unit;
    z-index: 2;
}

    .c-toast__message {
        display: block;
        overflow: hidden;
        width: $inuit-global-spacing-unit*9;
        max-width: 100%;
        max-height: 0;
        padding: 0;
        margin: 0;
        background: color(js-green);
        border-radius: $global-radius;
        color: color(s-white);
        @include inuit-font-size(18px, 1.4);
        text-align: center;
        opacity: .95;
        transform: translateX(133%);
        transition: max-height 150ms linear, padding-top 150ms linear, padding-bottom 150ms linear, margin-bottom 150ms linear, transform 300ms ease-in-out 150ms;

        &:last-child { margin-bottom: 0; }

        &--error {
            background: color(js-red);
        }

        &--active {
            max-height: 300px;
            padding: $inuit-global-spacing-unit-tiny*3;
            margin: 0 0 $inuit-global-spacing-unit-small;
            box-shadow: 0 0 12px 4px rgba(color(js-gray), 0.2);
            transform: translateX(0);
        }

        &--remove {
            max-height: 0;
            padding: 0;
            margin: 0;
            transform: translateX(133%);
            transition: transform 300ms ease-in-out 150ms, max-height 150ms linear 450ms, padding 150ms linear 450ms, margin-bottom 150ms linear 450ms;
        }
    }





/* Responsive
   ========================================================================== */
@include mq($until: md) {

    .c-toast {
        right: $inuit-global-spacing-unit-small;
    }

}




