///* ========================================================================
//   #BRAND
//   ======================================================================== */

// A map of the brand colors
$brand-colors: (
    // JIOSAAVN PRIMARY
    js-green:              #2bc5b4, // Default Highlight
    js-gray:               #3e3e3e, // Default Copy
    js-white:              #f6f6f6, // Default Background Light
    js-navy:               #2a2d36, // Default Background Dark

    // JIOSAAVN SECONDARY - GREEN
    js-green-alt-light:    #b6fff7,
    js-green-alt:          #6effef,
    js-green-alt-dark:     #258f83,

    // JIOSAAVN SECONDARY - GRAY
    js-gray-alt-light:     #a9a9a9,
    js-gray-alt:           #707070,
    js-gray-alt-dark:      #202020,

    // JIOSAAVN SECONDARY - WHITE
    js-white-alt:          #e9e9e9,
    js-white-alt-dark:     #cccccc,

    // JIOSAAVN SECONDARY - OTHER
    js-navy-alt:           #828da8,
    js-red:                #f3464a,

    // STANDARD
    s-black:                  #181818, // Default Copy
    s-white:                  #ffffff,
    s-teal:                   #26BDB0,
    teal-alt:                 #46c6bc,
    dark-teal:                #00766C,
    light-teal:               #89a8c3,
    s-yellow:                 #f5aa1a,
    s-yellow-alt:             #f7fe7f,
    s-navy:                   #013143,
    s-purple:                 #351b4a,
    light-blue:               #a2efff,
    s-blue:                   #0080a4,
);





/* Colors class list
   ========================================================================== */
$brand-colors-class-list: (
    s-white:                  #fff,
    dark-teal:                #00766C,
    s-teal:                   #26BDB0,
    s-black:                  #181818, 
    s-blue:                   #0080a4,
);




/* Backgrounds class list
   ========================================================================== */
$brand-backgrounds-class-list: (
    dark-teal:                #00766C,
    s-white:                  #fff,
);




