@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url(https://staticfe.saavn.com/web/6.0/_f/gotham/Gotham-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: url(https://staticfe.saavn.com/web/6.0/_f/gotham/Gotham-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: url(https://staticfe.saavn.com/web/6.0/_f/gotham/Gotham-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 100;
  src: url(https://staticfe.saavn.com/web/6.0/_f/gotham/Gotham-LightItalic.ttf) format('truetype');
}

