/* ==========================================================================
   #BRANDING
   ========================================================================== */

/* Floats
   ========================================================================== */
.u-float-left { float: left; }
.u-float-right { float: right; }




/* Misc
   ========================================================================== */

.u-border-radius {
    border-radius: 20px;
}

.u-box-shadow {
    box-shadow: rgb(42 45 54 / 8%) 0 12px 34px, rgb(0 0 0 / 5%) 0 6px 15px, inset transparent 0 0 0 0;
}


/* Gradients
   ========================================================================== */

.u-gradient-blue {
    background: radial-gradient(ellipse at center top, #0096ab, #00375c 85%)
}

.u-gradient-green {
    background: linear-gradient(0.25turn, #006b63, #00a984, #00886c)
}

.u-gradient-purple {
    background: linear-gradient(0.25turn, #361b48, #4f2e7a, #3f2563)
}

.u-gradient-maroon {
    background: linear-gradient(0.25turn, #4e0c26, #7d144d, #5e0f38)
}

/* Responsive
   ========================================================================== */





