/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

/* Typography properties
   ========================================================================== */
$deci: 18px;
$centi: 16px;





/* Alignment
   ========================================================================== */
.u-align-left { text-align: left; }
.u-align-center { text-align: center; }
.u-align-right { text-align: right; }





/* Sizes
   ========================================================================== */
.u-deci { @include inuit-font-size($deci, 1.4); }
.u-centi { @include inuit-font-size($centi, 1.6); }




/* Misc
   ========================================================================== */

.u-italics { font-style: italic;}
.u-font-normal { font-style: normal;}
.u-light { font-weight: 300;}
.u-light-italics {font-weight: 300; font-style: italic;}
.u-valign-middle { vertical-align: middle; }
.u-nowrap { white-space: nowrap; }
.u-position-relative { position: relative }
.u-cursor-pointer { cursor: pointer }
.u-underline { text-decoration: underline }
.u-opaque { opacity: .8 }


/* Angled headers and offsets
   ========================================================================== */
.u-offset-header,
.u-skew-offset,
.u-skew-bg {
    font-size: 40px;
    z-index: 1;
}

.u-offset-header {
    position: absolute;
    top: 0 - $inuit-global-spacing-unit*2;
    left: $inuit-global-spacing-unit;
}

.u-skew-offset {
    line-height: .9;
    padding-left: 20px;
    margin-bottom: 0;
}

.u-skew-bg {
    color: transparent;
    display: inline-block;
    background: color(s-white);
    padding: 0 $inuit-global-spacing-unit*.2;
    transform: skew(-12deg);
    position: relative;

    &:after {
        content: attr(data-text);
        color: color(s-teal);
        position: absolute;
        font-style: italic;
        top: calc(50% + 4px);
        left: 50%;
        transform: translate(-50%, -50%) skew(12deg);
        white-space: nowrap;
    }

    &.u-skew-bg--shadow {
        &:after {
            top: 50%;
        }
    }

    &.u-skew-bg--black {
        &:after {
            color: color(s-black);
        }
    }

}

    .u-skew-bg--shadow {
        box-shadow: 0 10px transparent inset,0 -5px #cadddb inset, -10px 0 transparent inset, 10px 0 transparent inset;

        &:before {
            position: absolute;
            right: -5px;
            bottom: 0;
            height: 27px;
            background: #cadddb;
            width: 5px;
            content: '';
        }
    }

    .u-skew-bg--shadow-alt {
        position: relative;
        border-bottom: 10px solid rgba(0,0,0,.2);
        border-right: 10px solid rgba(0,0,0,.2);
    }


/* Responsive
   ========================================================================== */


@include mq($from: md) {
    .u-skew-offset,
    .u-skew-bg {
        font-size: 100px;
    }

    h2.u-skew-offset,
    h2.u-skew-bg {
        font-size: 50px;
    }

    .u-offset-header {
        position: absolute;
        top: 0 - $inuit-global-spacing-unit*4.4;
        left: $inuit-global-spacing-unit*3;
    }

    .u-skew-bg {
        padding: 0 $inuit-global-spacing-unit*.75;
        line-height: .95;

        &:after {
            top: calc(50% + 7px);
        }
    }

    .u-skew-bg--shadow {
        box-shadow: 0 10px transparent inset,0 -12px #cadddb inset, -10px 0 transparent inset, 10px 0 transparent inset;
        &:before {
            height: 32px;
            right: -12px;
            width: 12px;
        }

        &:after {
            top: calc(50% + 4px);
        }
    }

    .u-skew-offset {
        padding-left: 50px;
        margin-bottom: -12px;
    }

    .u-align-left\@md { text-align: left; }
    .u-align-center\@md { text-align: center; }
    .u-align-right\@md { text-align: right; }
}
