/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  60px;
$inuit-font-size-h2:  44px;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

.u-h1,
h1 {
  @include inuit-font-size($inuit-font-size-h1);
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  @include inuit-font-size($inuit-font-size-h2);
  font-style: italic;
  text-transform: uppercase;
}

h3 {
  @include inuit-font-size($inuit-font-size-h3);
}

h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}

.u-h2-alt {
    font-size: 40px;
}

/* Responsive
   ========================================================================== */


@include mq($from: md) {
    h1,
    .u-h1 {
        font-size: 100px;
    }

    .u-h2-alt {
        font-size: 60px;
    }
}